# Autosave files
*.asv
*.m~
*.autosave
*.slx.r*
*.mdl.r*

# Derived content-obscured files
*.p

# Compiled MEX files
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Deployable archives
*.ctf

# Generated helpsearch folders
helpsearch*/

# Code generation folders
slprj/
sccprj/
codegen/

# Cache files
*.slxc

# Cloud based storage dotfile
.MATLABDriveTag
data/GMD2_A2_BB_D07_Cam1_2023_05_31_THT.avi
data/GMD2_A2_BB_D07_Cam2_2023_05_31_THT.avi
data/GMD2_A2_OF_D07_2023_05_31_THT.avi
data/GMD2_A2_RR_D07_2023_05_31_THT.avi
data/test.avi
data/output.mp4
data/GMD2_A2_RR_D07_2023_05_31_THT.mp4
*.mp4
*.tif
*.avi
.DS_Store
.DS_Store
